{% extends "mainTemplate.html.twig" %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <h1>Список задач</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal"
            data-whatever="@mdo">Создать задачу
    </button>
    <table id="tasks_table" class="table table-striped table-bordered dataTable">
        <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>email</th>
            <th class="no-sort">Текст задачи</th>
            <th>Статус</th>
            <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% include 'model_createTask.html.twig' %}
{% endblock %}
