<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <title>{% block title %}{% endblock %} - BeeGee Test</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if login_user_id is not empty %}
            <input type="hidden" id="loggedIn" value="1"/>
            <a class="btn btn-outline-warning my-2 my-sm-0" href="/logout">Выйти</a>
        {% else %}
            <input type="hidden" id="loggedIn" value="0"/>
            <form class="form-inline my-2 my-lg-0" method="post" action="/login">
                <input class="form-control mr-sm-2" type="text" placeholder="Имя пользователя" name="username" aria-label="Username" required>
                <input class="form-control mr-sm-2" type="password" placeholder="Пароль" name="password" aria-label="Password" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
            </form>
        {% endif %}
    </div>
</nav>
{% if errors %}
    <div class="alert alert-danger mt-2" role="alert">
        {{ errors }}
    </div>
{% endif %}
<div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
<div id="footer">
    <div id="content" class="container-fluid">
                {% block footer %}
                        &copy; Copyright 2019 by <a href="http://troyan4eg.com/">Tikhosov Anatolii</a>.
                {% endblock %}
    </div>
</div>
{% block scripts %}
    <script type="text/javascript" src="/js/scripts.js"></script>
{% endblock %}
</body>
</html>